$bg: #d8eefe
$bg-card: #fffffe

$title-color: #094067
$text-color: #5f6c7b

$primary: #3da9fc
$danger: #ef4565

$border-color: #094067
    
body
  font-family: 'Ubuntu', sans-serif
  background: $bg

h1, h2, h3
  color: $title-color

h1
  font-size: 3rem

h3
  font-size: 1.5rem

p
  color: $text-color

input
  margin-bottom: 1rem
  padding: 0.75rem
  border: 2px solid $border-color
  border-radius: 10px
  font-weight: 500
  color: $text-color
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.125)
  transition: border-color .3s
  &:focus
    outline: none
    border-color: $primary

.btn
  margin-bottom: 1rem
  padding: 1rem
  border: none
  border-radius: 10px 
  font-size: 1.25rem
  font-weight: bold
  color: $bg-card
  cursor: pointer
  transition: box-shadow .3s
  &:focus
    outline: none
  &:hover
    box-shadow: 0 0 1rem $primary

  &__primary
    background: $primary

.btn-icon
  padding: 0
  background: transparent
  border: none
  cursor: pointer
  svg
    path
      fill: $text-color
      transition: fill .3s ease
  svg:hover
    path
      fill: $primary
  &:focus
    outline: none

form
  display: flex
  flex-direction: column
  p
    color: $title-color
    font-weight: 500
  button:last-of-type
    margin-bottom: 0

.card
  padding: 25px
  background: $bg-card
  border-radius: 10px 
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125)

  &__primary
    background: $bg
    box-shadow: none

.error
  color: $danger